.trending-box {
	background-color: #151515;
	border-radius: 16px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	width: 301px;
	height: 100%;
	margin-top: 140px;
	margin-left: 40px;
}

@media (max-width: 952px) {
	.trending-box {
		display: none;
	}
}

.trending-box .trending-title {
	border-bottom: 1px solid #484848;
	width: 301px;
	height: 60px;
	margin-top: 0vh;
	margin-bottom: auto;

	display: flex;
	justify-content: left;
	align-items: center;
}

.trending-box .trending-title h1 {
	margin-left: 1vw;

	font-family: "Oswald";
	font-style: normal;
	font-weight: 700;
	font-size: 1.7rem;
	font-weight: 600;
	color: #fff;
}

.trending-box .trending-hashtags {
	width: 301px;
	height: 100%;
	margin: 15px 0 15px 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.trending-box .trending-hashtags ul {
	max-width: 15vw;
	height: 100%;

	display: flex;
	flex-direction: column;
}

.trending-box .trending-hashtags li{
    margin: 0 0 8px 15px;
}

.trending-box .trending-hashtags li > a {
    
    
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	font-size: 1.19rem;
	letter-spacing: 0.05em;
	text-decoration: none;

	color: #ffffff;
}

.trending-box .trending-hashtags li > a:hover {
	text-decoration: underline;
	color: #3282eb;
}
